<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>read.html</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">

                <div class="card-header">
                    Board Read
                </div>

                <div class="card-body">
                    <!--"dto"에는 boardDTO가 저장되어 있음. 그래서 데이터베이스에 저장된 필드명으로 다 불러올 수 있음.-->
                    <!--Bno-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Bno</span>
                        <input type="text" class="form-control" th:value="${dto.bno}" readonly>
                    </div>
                    <!--Title-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Title</span>
                        <input type="text" class="form-control" th:value="${dto.title}" readonly>
                    </div>
                    <!--Content-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Content</span>
                        <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
                    </div>
                    <!--Writer-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Writer</span>
                        <input type="text" class="form-control" th:value="${dto.writer}" readonly>
                    </div>
                    <!--RegDate(등록일)-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">RegDate</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>
                    <!--ModDate(수정일)-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">ModDate</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.ModDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>

                    <div class="my-4" th:with="user=${#authentication.principal}">
                        <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                            <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">List</button>
                            </a>

                            <a th:if="${user != null && user.username == dto.writer}"
                               th:href="|@{/board/modify(bno=${dto.bno})}&${link}|"
                               class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">Modify</button>
                            </a>

                        </div>
                    </div>

                </div><!--card body 끝-->

                <div class="col">
                    <div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                        <img class="card-img-top"
                             th:each="fileName: ${dto.fileNames}"
                             th:src="|/view/${fileName}|">

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="my-4">
                <button class="btn btn-info addReplyBtn">ADD REPLY</button>
            </div>
            <ul class="list-group replyList">
            </ul>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <ul class="pagination replyPaging">
            </ul>
        </div>
    </div>

<!--  새로운 댓글 추가 등록 시, 모달창  -->
    <div class="modal registerModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register Reply</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Reply Text</span>
                        <input type="text" class="form-control replyText">
                    </div>
                    <div class="input-group mb-3" th:with="user = ${#authentication.principal}">
                        <span class="input-group-text">Replyer</span>
                        <input type="text" class="form-control replyer" th:value="${user.username}" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary registerBtn">Register</button>
                    <button type="button" class="btn btn-outline-dark closeRegisterBtn">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  기존 댓글 수정 및 삭제 시, 모달창  -->
    <div class="modal modifyModal" tabindex="1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title replyHeader"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Reply Text</span>
                        <input type="text" class="form-control modifyText">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info modifyBtn">Modify</button>
                    <button type="button" class="btn btn-danger removeBtn">Remove</button>
                    <button type="button" class="btn btn-outline-dark closeModifyBtn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsDelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/reply.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">

    const currentUser = [[${#authentication.principal.username}]]//현재 로그인한 사용자의 아이디를 변수로 지정

    const bno = [[${dto.bno}]]

    const replyList = document.querySelector('.replyList') //댓글 목록 DOM
    const replyPaging = document.querySelector('.replyPaging') //페이지 목록 DOM

    function printList(dtoList) {//댓글 목록 출력
        let str = '';

        if(dtoList && dtoList.length >0) {

            for (const dto of dtoList) {

                str += `<li class="list-group-item d-flex replyItem">
                            <span class="col-2">${dto.rno}</span>
                            <span class="col-6" data-rno="${dto.rno}">${dto.replyText}</span>
                            <span class="col-2">${dto.replyer}</span>
                            <span class="col-2">${dto.regDate}</span>
                        </li>`
            }
        }
        replyList.innerHTML = str

    }

    function printPages(data) {//댓글 페이지 목록 출력

        //pagination
        let pageStr = '';

        if(data.prev) {
            pageStr +=`<li class="page-item">
                        <a class="page-link" data-page="${data.start-1}">PREV</a>
                       </li>`
        }

        for (let i = data.start; i <= data.end; i++) {
            pageStr += `<li class="page-item ${i == data.page?"active":""}">
                            <a class="page-link" data-page="${i}">${i}</a>
                        </li>`
        }

        if (data.next) {
            pageStr += `<li class="page-item">
                            <a class="page-link" data-page="${data.end +1}">NEXT</a>
                        </li>`
        }
        replyPaging.innerHTML = pageStr
    }

    function printReplies(page, size, goLast) {

        getList({bno, page, size, goLast}).then(
            data => {
                printList(data.dtoList) //목록 처리
                printPages(data) //페이지 처리
            }
        ).catch(e => {
            console.error(e)
        })
    }

    printReplies(1,10,true) //무조건 호출//true 붙이면 처음부터 댓글의 마지막 페이지를 볼 수 있음.

    //댓글 추가 등록 모달창
    //댓글 등록 모달
    const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"))

    //registerModal
    const registerBtn = document.querySelector(".registerBtn")
    const replyText = document.querySelector(".replyText")
    const replyer = document.querySelector(".replyer")
    const closeRegisterBtn = document.querySelector(".closeRegisterBtn")

    //ADD REPLY 버튼 눌렀을 때 모달창이 보이도록 함.
    document.querySelector(".addReplyBtn").addEventListener("click", function (e){
        registerModal.show()
    }, false)

    //close 버튼 누르면 모달창이 숨도록 함.
    closeRegisterBtn.addEventListener("click", function (e) {
        registerModal.hide()
    }, false)

    //register 버튼 누르면 댓글이 등록되도록 함.
    registerBtn.addEventListener("click", function (e) {
        const replyObj = {
            bno:bno,
            replyText:replyText.value,
            replyer:replyer.value
        }

        addReply(replyObj).then(result => {
            alert(result.rno)
            registerModal.hide()
            replyText.value = ''
            replyer.value = ''
            printReplies(1, 10, true) //댓글 목록 갱신
        }).catch(e => {
            alert("Exception...")
        })
    }, false)

    //댓글 조회 & 수정, 삭제 등록 모달창
    //댓글 수정 모달
    const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal"))

    const replyHeader = document.querySelector(".replyHeader")
    const modifyText = document.querySelector(".modifyText")
    const modifyBtn = document.querySelector(".modifyBtn")
    const removeBtn = document.querySelector(".removeBtn")
    const closeModifyBtn = document.querySelector(".closeModifyBtn")

    let hasAuth = false //댓글의 작성자와 currentUser의 일치 여부

    //댓글을 누르면 모달창이 나오도록 함.
    replyList.addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if(!target || target.tagName != 'SPAN'){
            return
        }

        const rno = target.getAttribute("data-rno")

        if(!rno) {
            return
        }

        getReply(rno).then(reply => {

            console.log(reply)
            replyHeader.innerHTML = reply.rno
            modifyText.value = reply.replyText
            modifyModal.show()

            hasAuth = currentUser === reply.replyer //댓글의 작성자와 현재 사용자 일치 여부 확인
        }).catch(e => alert('error'))
    }, false)

    //수정 버튼 누르면 수정되도록 함.
    modifyBtn.addEventListener("click", function (e) {

        if (!hasAuth) {
            alert("댓글 작성자만 수정이 가능합니다.")
            modifyModal.hide()
            return
        }

        const replyObj = {
            bno:bno,
            rno:replyHeader.innerHTML,
            replyText:modifyText.value
        }

        modifyReply(replyObj).then(result => {
            alert(result.rno+' 댓글이 수정되었습니다.')
            replyText.value = ''
            modifyModal.hide()
            printReplies(page, size)
        }).catch(e => {
            console.log(e)
        })
    }, false)

    //close 버튼 누르면 모달창 사라지도록 함.
    closeModifyBtn.addEventListener("click", function (e) {
        modifyModal.hide()
    }, false)

    //remove 버튼 누르면 댓글이 삭제되도록 함.
    removeBtn.addEventListener("click", function (e) {

        if (!hasAuth) {
            alert("댓글 작성자만 삭제가 가능합니다.")
            modifyModal.hide()
            return
        }

        removeReply(replyHeader.innerHTML).then(result => {
            alert(result.rno + ' 댓글이 삭제되었습니다.')
            replyText.value = ''
            modifyModal.hide()

            page = 2 //이 부분이 없다면 원래 페이지로

            printReplies(page, size)
        }).catch(e => {
            console.log(e)
        })
    }, false)


    //댓글 페이지 번호 클릭 : 댓글 페이지 번호를 누르면 이동하도록
    let page = 1
    let size = 10

    replyPaging.addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if(!target || target.tagName != 'A'){
            return
        }

        const pageNum = target.getAttribute("data-page")
        page = pageNum
        printReplies(page, size)
    }, false)

    // get1(bno).then(data => {
    //     console.log(data)
    // }).catch(e => {
    //     console.error(e)
    // })

    // console.log(get1(bno))

    // get1(bno)

</script>

</body>
</html>