<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>register.html</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">

                <div class="card-header">
                    Board Register
                </div>

                <div class="card-body">
                    <form action="/board/register" method="post">
                        <!--제목 등록-->
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" name="title" class="form-control" placeholder="Title">
                        </div>
                        <!--내용 등록-->
                        <div class="input-group mb-3">
                            <span class="input-group-text">Content</span>
                            <textarea class="form-control col-sm-5" rows="5" name="content"></textarea>
                        </div>
                        <!--작성자 등록-->
                        <div class="input-group mb-3">
                            <span class="input-group-text">Writer</span>
                            <input type="text" name="writer" class="form-control" placeholder="Writer"
                                   th:value="${#authentication.principal.username}" readonly>
                        </div>
                        <!--이미지 첨부파일 추가버튼-->
                        <div class="input-group mb-3">
                            <span class="input-group-text">Images</span>
                            <div class="float-end uploadHidden">
                                <button type="button" class="btn btn-primary uploadFileBtn">ADD Files</button>
                            </div>
                        </div>
                        <!--등록 & 리셋 버튼-->
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div><!--card body 끝-->

            </div><!--card 끝-->
        </div><!--col 끝-->
    </div><!--row 끝-->

    <!--첨부파일 섬네일을 보여줄 부분-->
    <div class="row mt-3">
        <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">

            </div>
        </div>
    </div>
    <!--첨부파일 추가를 위한 모달창-->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Files</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--첨부파일 넣을 수 있는 input-->
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>

            </div>
        </div>
    </div><!--첨부파일 추가 모달창(register modal) 끝-->

    <script src="https://cdn.jsDelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/upload.js"></script>

</div>

<script layout:fragment="script" th:inline="javascript">
    //p.707
    const auth = [[${#authentication.principal}]]

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i =0; i < errors.length ; i++){
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    //업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    //addFiles 클릭하면 모달창 뜸.
    document.querySelector(".uploadFileBtn").addEventListener("click", function (e) {

        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()
    }, false)

    //upload파일에 첨부파일을 올릴 수 있도록 함.
    document.querySelector(".uploadBtn").addEventListener("click", function (e) {

        const formObj = new FormData();

        const fileInput = document.querySelector("input[name='files']")

        console.log(fileInput.files)

        const files = fileInput.files

        for (let i =0; i < files.length; i++){
            formObj.append("files", files[i]);
        }

        uploadToServer(formObj).then(result => {
            // console.log(result)
            for (const uploadResult of result) {
                showUploadFile(uploadResult)
            }
            uploadModal.hide()
        }).catch(e => {
            uploadModal.hide()
        })

    }, false)

    //웹 화면에서 첨부파일을 업로드하면 업로드한 첨부파일들을 볼 수 있게 함.
    const uploadResult = document.querySelector(".uploadResult")

    function showUploadFile({uuid, fileName, link}) {
        const str = `<div class="card col-4">
                        <div class="card-header d-flex justify-content-center">
                            ${fileName}
                            <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}','${fileName}',this)">X</button>
                        </div>
                        <div class="card-body">
                            <img src="/view/${link}" data-src="${uuid + "_" + fileName}">
                        </div>
                    </div>`

        uploadResult.innerHTML += str
    }

    //첨부파일을 서버에서도 화면에서도 삭제
    function removeFile(uuid, fileName, obj) {

        console.log(uuid)
        console.log(fileName)
        console.log(obj)

        const targetDiv = obj.closest(".card")

        removeFileToServer(uuid, fileName).then(data => {
            targetDiv.remove()
        })
    }

    //게시물 최종 등록//첨부파일을 추가한 상태에서의 최종 등록 버튼
    document.querySelector(".submitBtn").addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        const target = document.querySelector(".uploadHidden")

        const uploadFiles = uploadResult.querySelectorAll("img")

        let str = ''

        for (let i = 0; i < uploadFiles.length ; i++) {
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute("data-src")

            str += `<input type='hidden' name='fileNames' value="${imgLink}">`
        }

        target.innerHTML = str;

        document.querySelector("form").submit();

        // const formObj = document.querySelector("form");
        //
        // formObj.submit();
        // formObj.reset();

    }, false)

</script>
